# Book : Python Data Science Handbook
## Chapter 3 - Data Manipulation with Pandas

# Pandas

 Pandas is a newer package built on top of NumPy, and provides an efficient implementation of a DataFrame. DataFrames are essentially multidimensional arrays with attached row and column labels, and often with heterogeneous types and/or missing data. As well as offering a convenient storage interface for labeled data, Pandas implements a number of powerful data operations familiar to users of both database frameworks and spreadsheet programs.
 
Pandas, and in particular its Series and DataFrame objects, builds on the NumPy array structure and provides efficient access of "data munging" tasks that occupy much of a data scientist's time.

For example, to display all the contents of the pandas namespace, you can type

In [3]: pd.<TAB>
And to display Pandas's built-in documentation, you can use this:

In [4]: pd?

More detailed documentation, along with tutorials and other resources, can be found at http://pandas.pydata.org/.


At the very basic level, Pandas objects can be thought of as enhanced versions of NumPy structured arrays in which the rows and columns are identified with labels rather than simple integer indices. 

Pandas data structures: 
* Series
* DataFrame
* Index.

## The Pandas Series Object
A Pandas Series is a one-dimensional array of indexed data. It can be created from a list or array.

The Series wraps 
* a sequence of values, The values are simply a familiar NumPy array
* a sequence of indices, 

which we can access with the values and index attributes.

In [2]:
import pandas as pd
import numpy as np

data = pd.Series([0.25, 0.5, 0.75, 1.0])
print(data)
print(data.values)
print(data.index)

# We can access series elements just like indexing np arrays
print(data[1])
print(data[::-2])

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64
[0.25 0.5  0.75 1.  ]
RangeIndex(start=0, stop=4, step=1)
0.5
3    1.0
1    0.5
dtype: float64

### Series as generalized NumPy array
Series object is basically interchangeable with a one-dimensional NumPy array. The essential difference is the presence of the index: while the Numpy Array has an implicitly defined integer index used to access the values, the Pandas Series has an explicitly defined index associated with the values.

This explicit index definition gives the Series object additional capabilities. For example, the index need not be an integer, but can consist of values of any desired type. For example, if we wish, we can use strings as an index:

In [3]:
data = pd.Series([5, 4, 3, 2.1, 10],
                index = ['a','b','c','d','e'])# in array indexes will always be an integer, but in series it can be of
                                              # any type
print(data)
print()
print(data['b'])

a     5.0
b     4.0
c     3.0
d     2.1
e    10.0
dtype: float64

4.0

### Series as specialized dictionary

--> A dictionary is a structure that maps arbitrary keys to a set of arbitrary values, 

--> And a Series is a structure which maps typed keys to a set of typed values. 

This typing is important: just as the type-specific compiled code behind a NumPy array makes it more efficient than a Python list for certain operations, the type information of a Pandas Series makes it much more efficient than Python dictionaries for certain operations.

The Series-as-dictionary analogy can be made even more clear by constructing a Series object directly from a Python dictionary:

In [4]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
print(population)
print()
print(population['California':'Illinois'])

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

### Constructing Series object
We've already seen a few ways of constructing a Pandas Series from scratch; all of them are some version of the following:

> pd.Series(data, index=index)

where index is an optional argument, and data can be one of many entities.

For example, data can be a list or NumPy array, in which case index defaults to an integer sequence:

In [6]:
#data can be a scalar, which is repeated to fill the specified index:
print(pd.Series(5, index= np.arange(100,200,30)))

#Here, the Series is populated only with the explicitly identified keys. 
 #And sorted in the order of the indexes provided
print(pd.Series({'a':1,'d':2,'b':2.5,'c':3.0}, index = ['a','b','c']))

100    5
130    5
160    5
190    5
dtype: int64
a    1.0
b    2.5
c    3.0
dtype: float64

## The Pandas DataFrame Object

### DataFrame as a generalized NumPy array

If a Series is an analog of a one-dimensional array with flexible indices, a DataFrame is an analog of a two-dimensional array with both flexible row indices and flexible column names. Just as you might think of a two-dimensional array as an ordered sequence of aligned one-dimensional columns, you can think of a DataFrame as a sequence of aligned Series objects. Here, by "aligned" we mean that they share the same index.

### DataFrame as specialized dictionary
Similarly, we can also think of a DataFrame as a specialization of a dictionary. Where a dictionary maps a key to a value, a DataFrame maps a column name to a Series of column data. For example, asking for the 'area' attribute.
returns the Series object containing the areas we saw earlier.

### From a NumPy structured array

In [25]:
# Creating two series
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
#print(area)
#print()
locn_dict = {'Florida': 4, 'California': 1, 'Texas': 2, 'New York': 3,
              'Illinois': 5}
location = pd.Series(locn_dict)
#print(location)

# creating a dataframe from above series using dictionary
states_data = pd.DataFrame( { 'area' : area, 'location' : location})
print(states_data)

print()
print(states_data['area'])
print(states_data['area']['California'])

# Attributes of a dataframe object
print(states_data.index)
print(states_data.columns)
print(states_data.values)
print(states_data.shape)

# Different ways to construct dataframe objects

#1. a single column dataframe can be created from a single series
print(pd.DataFrame(population, columns=['population']))

#2.
# From a dictionary of Series objects
# Using a dictionary, where keys are names of columns, and values are series (columns)
# We have already created this type above

#3. Using list of dictionaries, where each dictionary are rows.
# for missing keys in different dictionaries will be automatically filled with NAs
print(pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}]))

#4.
# from numpy arrray
A = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')])
print(pd.DataFrame(A))

              area  location
California  423967         1
Florida     170312         4
Illinois    149995         5
New York    141297         3
Texas       695662         2

California    423967
Florida       170312
Illinois      149995
New York      141297
Texas         695662
Name: area, dtype: int64
423967
Index(['California', 'Florida', 'Illinois', 'New York', 'Texas'], dtype='object')
Index(['area', 'location'], dtype='object')
[[423967      1]
 [170312      4]
 [149995      5]
 [141297      3]
 [695662      2]]
(5, 2)
            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0
   A    B
0  0  0.0
1  0  0.0
2  0  0.0

## The Pandas Index Object

We have seen here that both the Series and DataFrame objects contain an explicit index that lets you reference and modify data. It can be thought of as

* an immutable array 
* an ordered set (technically a multi-set, as Index objects may contain repeated values). 

Those views have some interesting consequences in the operations available on Index objects. As a simple example, let's construct an Index from a list of integers:

In [26]:
ind = pd.Index([2, 3, 5, 7, 11])
print(ind)

Int64Index([2, 3, 5, 7, 11], dtype='int64')

In [30]:
# we can access index just like an array
print(ind[1:6:2])
print()
# One difference between Index objects and NumPy arrays is that indices are immutable–that is
# they cannot be modified via the normal mean
# ind[1] = 0 # is not possible

indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])
print(indA & indB) #intersection
print(indA | indB) #union
print(indA ^ indB) #symmetric difference

Int64Index([3, 7], dtype='int64')

Int64Index([3, 5, 7], dtype='int64')
Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')
Int64Index([1, 2, 9, 11], dtype='int64')

## Data Selection in Series
As we have seen previously, a Series object acts in many ways like a one-dimensional NumPy array, and in many ways like a standard Python dictionary. If we keep these two overlapping analogies in mind, it will help us to understand the patterns of data indexing and selection in these arrays.

### Series as Dictionary

In [37]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])
print(data)
print()

# We can also use dictionary-like Python expressions and methods to examine the keys/indices and values:
print(data['a'])
print('a' in data)
print(data.keys())

print(data.items())
print(list(data.items()))

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

0.25
True
Index(['a', 'b', 'c', 'd'], dtype='object')
<zip object at 0x7f50583c8b40>
[('a', 0.25), ('b', 0.5), ('c', 0.75), ('d', 1.0)]

### Series as one-dimensional array
 Series builds on this dictionary-like interface and provides array-style item selection via the same basic mechanisms as NumPy arrays – that is, slices, masking, and fancy indexing. Examples of these are as follows:

In [ ]:
# Slicing by explicit index
print(data['a':'c'])
# Slicing by implicit index
print(data[0:3])
# Masking
print(data[ (data >= 0.25) & (data <= .5)])
#fancy indexing
print(data[['a','e']])

#### Indexers: loc, iloc, and ix
These slicing and indexing conventions can be a source of confusion. For example, if your Series has an explicit integer index, an indexing operation such as data[1] will use the explicit indices, while a slicing operation like data[1:3] will use the implicit Python-style index.

Because of this potential confusion in the case of integer indexes, Pandas provides some special indexer attributes that explicitly expose certain indexing schemes. These are not functional methods, but attributes that expose a particular slicing interface to the data in the Series.

I recommend using .loc and .iloc attributes to make code easier to read and understand, and to prevent subtle bugs due to the mixed indexing/slicing convention.

In [44]:
data = pd.Series(['a', 'b', 'c'], index=[1, 3, 5])
print(data)
# explicit index when indexing
print(data[1])
# implicit index when slicing
print(data[1:3])

# .loc attribute allows indexing and slicing that always reference explicit index 
print(data.loc[1])
print(data.loc[1:3])

# The iloc attribute allows indexing and slicing that always references the implicit Python-style index:
print(data.iloc[1])
print(data.iloc[1:3])

1    a
3    b
5    c
dtype: object
a
3    b
5    c
dtype: object
a
1    a
3    b
dtype: object
b
3    b
5    c
dtype: object

## Data Selection in DataFrame
### Dataframe as a Dictionary

* When we index a dataframe with a single element, then it returns a series.
* When we slice a dataframe, one or more columns or rows, it returns a datafame.
* when we provide a single column as string, it returns a series.
* when we provide a list for column selection, it returns a dataframe.

In [118]:
area = pd.Series({'California': 423967, 'Texas': 695662,
                  'New York': 141297, 'Florida': 170312,
                  'Illinois': 149995})
pop = pd.Series({'California': 38332521, 'Texas': 26448193,
                 'New York': 19651127, 'Florida': 19552860,
                 'Illinois': 12882135})
data = pd.DataFrame({'area':area, 'pop':pop})

print(data['area']) # returns a series
print(data.area) # we can use attribute-style access with column names that are strings
print(data.area is data['area'])

# if the column names are not strings, or if the column names conflict with methods of the DataFrame,
# this attribute-style access is not possible.
print(data.pop is data['pop'])

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64
California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64
True
False

### DataFrame as two-dimensional array
 Using the iloc indexer, we can index the underlying array as if it is a simple NumPy array (using the implicit Python-style index), but the DataFrame index and column labels are maintained in the result.
 
 Similarly, using the loc indexer we can index the underlying data in an array-like style but using the explicit index and column names:

In [57]:
print(data)
print(data.values) #returns numpy array
print(data.T)  # Transpose of data, rows becomes columns and columns becomes columns

#Slicing dataframe as numpy array, implicit indexing
print(data.iloc[:3, :2])

#Slicing dataframe using explicit indexing
print(data.loc[:'Florida', :'area'])
print(data.loc[data['pop'] > 10000, ['pop', 'area']])

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135
[[  423967 38332521]
 [  695662 26448193]
 [  141297 19651127]
 [  170312 19552860]
 [  149995 12882135]]
      California     Texas  New York   Florida  Illinois
area      423967    695662    141297    170312    149995
pop     38332521  26448193  19651127  19552860  12882135
              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
              area
California  423967
Texas       695662
New York    141297
Florida     170312
                 pop    area
California  38332521  423967
Texas       26448193  695662
New York    19651127  141297
Florida     19552860  170312
Illinois    12882135  149995

## Operating on pandas Dataframe
One of the essential pieces of NumPy is the ability to perform quick element-wise operations. Pandas inherits much of this functionality from NumPy, and the ufuncs that we introduced in Computation on NumPy Arrays: Universal Functions are key to this.

Pandas includes a couple useful twists, however: 
* For unary operations like negation and trigonometric functions, these ufuncs will preserve index and column labels in the output, 
* And for binary operations such as addition and multiplication, Pandas will automatically align indices when passing the objects to the ufunc. 

This means that keeping the context of data and combining data from different sources–both potentially error-prone tasks with raw NumPy arrays–become essentially foolproof ones with Pandas.

### Ufuncs: Index Preservation

In [75]:
rng = np.random.RandomState(42)

ser = pd.Series(rng.randint(0,10,5))
print(ser,end ="\n\n")

df = pd.DataFrame(rng.randint(0,10,(3,4)), columns = ['a','b','c','d'])
print(df,end ="\n\n")

# Uniary operations using Ufuncs of numpy, it presernves the order of index and columns

# Exponential of every element of the series
print(np.exp(ser),end ="\n\n")

# Element wise operation on dataframe
print(np.sin(df * np.pi / 4))

0    6
1    3
2    7
3    4
4    6
dtype: int64

   a  b  c  d
0  9  2  6  7
1  4  3  7  7
2  2  5  4  1

0     403.428793
1      20.085537
2    1096.633158
3      54.598150
4     403.428793
dtype: float64

              a         b             c         d
0  7.071068e-01  1.000000 -1.000000e+00 -0.707107
1  1.224647e-16  0.707107 -7.071068e-01 -0.707107
2  1.000000e+00 -0.707107  1.224647e-16  0.707107

### UFuncs: Index Alignment
For binary operations on two Series or DataFrame objects, Pandas will align indices in the process of performing the operation.

In [81]:

# Series
area = pd.Series({'Alaska': 1723337, 'Texas': 695662,
                  'California': 423967}, name='area')
population = pd.Series({'California': 38332521, 'Texas': 26448193,
                        'New York': 19651127}, name='population')
print(area,end ="\n\n")
print(population,end ="\n\n")

# The resulting array contains the union of indices of the two input arrays
print(area/population,end ="\n\n")  # Any item for which one or the other does not have an entry is marked with NaN, or "Not a Number," 
                                    #  which is how Pandas marks missing data
    
## How to handle this missing values, if not desirable
A = pd.Series([2, 4, 6], index=[0, 1, 2])
B = pd.Series([1, 3, 5], index=[1, 2, 3])
print(A + B) # As you see, index 3 doesnot have any value in A and B doesnot have any value for index 3.
             # So 'NaN' are marked if any of the items corresponding to a single index doesnt have value.

print(A.add(B, fill_value=0), end='\n\n')   # It fills 0, where the values are missing.

Alaska        1723337
Texas          695662
California     423967
Name: area, dtype: int64

California    38332521
Texas         26448193
New York      19651127
Name: population, dtype: int64

Alaska             NaN
California    0.011060
New York           NaN
Texas         0.026303
dtype: float64

0    NaN
1    5.0
2    9.0
3    NaN
dtype: float64
0    2.0
1    5.0
2    9.0
3    5.0
dtype: float64

In [95]:
# Dataframe (Index Alignment)
A = pd.DataFrame(rng.randint(0,10, (2,2)), columns =list('ab'))
B = pd.DataFrame(rng.randint(0,10, (3,3)), columns =list('abc'))
print(A,end='\n\n')
print(B,end='\n\n')

print(A+B,end='\n\n')

print(A.stack())       # Melts data, bring row index and columns as multilevel index and put all the values in as single series/column
print(type(A.stack()))
print(A.stack().values)
print(A.stack().index)
print()

fill = A.stack().mean() # computes mean of all values of df A
print('Average value of DF A: ',fill)
print(A.add(B, fill_value = fill))

   a  b
0  8  3
1  8  2

   a  b  c
0  6  5  7
1  8  4  0
2  2  9  7

      a    b   c
0  14.0  8.0 NaN
1  16.0  6.0 NaN
2   NaN  NaN NaN

0  a    8
   b    3
1  a    8
   b    2
dtype: int64
<class 'pandas.core.series.Series'>
[8 3 8 2]
MultiIndex(levels=[[0, 1], ['a', 'b']],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

Average value of DF A:  5.25
       a      b      c
0  14.00   8.00  12.25
1  16.00   6.00   5.25
2   7.25  14.25  12.25

## Ufuncs: Operations Between DataFrame and Series

In [120]:
#Numpy Array
A = rng.randint(10, size=(3, 4))
print(A, end='\n\n')
print(A[0], end='\n\n')     # Selects first row
print(A - A[0], end='\n\n') # Default, row wise operation

# Dataframe
A = pd.DataFrame(A, columns=['p','q','r','s'])
print(A, end='\n\n')
#print(A[0], end='\n\n')      # Selectes first column, for dataframe
#print(A - A[0], end='\n\n')  # Default, row wise operation

print(A.iloc[0], end='\n\n')       # Selectes first row as Series, 
print(A.iloc[0:1], end='\n\n')      # Selectes first row as dataframe

# When we take difference of dataframe with series, the series broadcast.
print(A - A.iloc[0], end='\n\n')  # Default, row wise operation

# But when we take difference of dataframe with a single column dataframe (similar to a series but not a series)
# Then it does not broadcast and do element wise operation and put missing if corresponding value is missing for same
# indexes as we have seen previously
print(A - A.iloc[0:1], end='\n\n')  # Default, row wise operation



# for columnwise operation use the method instead of operator
print(A.subtract(A['p'], axis=0))

[[7 4 3 7]
 [6 1 0 3]
 [7 1 2 0]]

[7 4 3 7]

[[ 0  0  0  0]
 [-1 -3 -3 -4]
 [ 0 -3 -1 -7]]

   p  q  r  s
0  7  4  3  7
1  6  1  0  3
2  7  1  2  0

p    7
q    4
r    3
s    7
Name: 0, dtype: int64

   p  q  r  s
0  7  4  3  7

   p  q  r  s
0  0  0  0  0
1 -1 -3 -3 -4
2  0 -3 -1 -7

     p    q    r    s
0  0.0  0.0  0.0  0.0
1  NaN  NaN  NaN  NaN
2  NaN  NaN  NaN  NaN

   p  q  r  s
0  0 -3 -4  0
1  0 -5 -6 -3
2  0 -6 -5 -7

In [122]:

#Note that these DataFrame/Series operations, like the operations discussed above, will automatically
# align indices between the two elements:
print(A, end='\n\n')

halfrow = A.iloc[0, ::2]
print(halfrow, end='\n\n')

print(A - halfrow) # Automatically aligne indicesm and brodcasted the series.

   p  q  r  s
0  7  4  3  7
1  6  1  0  3
2  7  1  2  0

p    7
r    3
Name: 0, dtype: int64

     p   q    r   s
0  0.0 NaN  0.0 NaN
1 -1.0 NaN -3.0 NaN
2  0.0 NaN -1.0 NaN

## Missing Data on Pandas
Missingness in python represented by two ways:
* Masking array, a different array than dataset marks missing value in the dataset.
* Sentinel value, a value that represents missing value in the dataset itself. like np.nan, None

### None: Pythonic missing data
This dtype=object means that the best common type representation NumPy could infer for the  contents of the array is that they are Python objects. While this kind of object array is useful for some purposes, any operations on the data will be done at the Python level, with much more overhead than the typically fast operations seen for arrays with native types:

In easy language, if we represent missing data with None object, then all the elements of array itself would become python object type. which will slow any operation on them for large arrays

The use of Python objects in an array also means that if you perform aggregations like sum() or min() across an array with a None value, you will generally get an error:

In [129]:
vals1 = np.array([1, None, 3, 4])
print(vals1)
print(vals1.dtype,'\n\n')

for dtype in ['object', 'int']:
    print("dtype =", dtype)
    %timeit np.arange(1E3, dtype=dtype).sum()
    print()

[1 None 3 4]


object


dtype = object
169 µs ± 4.55 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

dtype = int
27 µs ± 4.74 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

### NaN: Missing numerical data
The other missing data representation, NaN (acronym for Not a Number), is different; it is a special floating-point value recognized by all systems that use the standard IEEE floating-point representation:

Notice that NumPy chose a native floating-point type for this array: this means that unlike the object array from before, this array supports fast operations pushed into compiled code. You should be aware that NaN is a bit like a data virus–it infects any other object it touches. Regardless of the operation, the result of arithmetic with NaN will be another NaN


The following table lists the upcasting conventions in Pandas when NA values are introduced:
Typeclass	Conversion When Storing NAs	NA Sentinel Value
* floating - No change - np.nan
* object - No change - None or np.nan
* integer - Cast to float64 - np.nan
* boolean - Cast to object - None or np.nan

In [143]:

vals2 = np.array([1, np.nan, 3, 4]) 
print(vals2)
print(vals2.dtype,'\n')

print(np.nan + 1,'\n')
print(vals2.sum(),'\n')  # Operation of any values with missing data generates missing

# Though there are some functions which ignores while doing the operation 
print(np.nansum(vals2),np.nanmax(vals2))
print()

# nan and None both together, Pandas automatically type-casts when NA values are present.
print(pd.Series([1, np.nan, 2, None]))

x = pd.Series(range(2), dtype=int)
print(x)
x[1,1]=None
print(x) # Type change to floating point from integer and None changes to NaN

[ 1. nan  3.  4.]
float64

nan

nan

8.0 4.0

0    1.0
1    NaN
2    2.0
3    NaN
dtype: float64
0    0
1    1
dtype: int64
0    0.0
1    NaN
dtype: float64

## Operating on Null Values

### Detecting/ Dropping/Filling Null values
There are several useful methods for detecting, removing, and replacing null values in Pandas data structures. They are:

* isnull(): Generate a boolean mask indicating missing values
* notnull(): Opposite of isnull()
* dropna(): Return a filtered version of the data
* fillna(): Return a copy of the data with missing values filled or imputed

In [168]:
data = pd.Series([1, np.nan, 'hello', None])
print(data, '\n')
print(data.dtype, '\n') # type is object, because we have different types of values

# Detecting
print(data.isnull(), '\n')
print(data[data.notnull()], '\n')

# Dropping
print(data.dropna(), '\n')

df = pd.DataFrame([[1,      np.nan, 2],
                   [2,      3,      5],
                   [np.nan, 4,      6]])
print(df.dropna()) # dropping all rows which have missing values in any column
print(df.dropna(axis=1)) # dropping all columns which have any missing value

print(df.dropna(axis='columns', how='all')) # drops columns if all values are missing
print(df.dropna(axis= 1, thresh=3))  # drops columns if atleast 3 values are non-missing

0        1
1      NaN
2    hello
3     None
dtype: object

object

0    False
1     True
2    False
3     True
dtype: bool

0        1
2    hello
dtype: object

0        1
2    hello
dtype: object

     0    1  2
1  2.0  3.0  5
   2
0  2
1  5
2  6
     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6
   2
0  2
1  5
2  6

In [178]:
# Filling Null values
data = pd.Series([1, np.nan, 2, None, 3], index=list('abcde'))
print(data,'\n')

print(data.fillna(0),'\n')

# We can specify a forward-fill to propagate the previous value forward:
print(data.fillna(method = 'ffill'))

print(df)
print(df.fillna(method='bfill', axis='columns'))

a    1.0
b    NaN
c    2.0
d    NaN
e    3.0
dtype: float64

a    1.0
b    0.0
c    2.0
d    0.0
e    3.0
dtype: float64

a    1.0
b    1.0
c    2.0
d    2.0
e    3.0
dtype: float64
     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6
     0    1    2
0  1.0  2.0  2.0
1  2.0  3.0  5.0
2  4.0  4.0  6.0

## Hierarchical Indexing

When we need to store higher-dimensional (>2-d) data–that is, data indexed by more than one or two keys:

* Pandas does provide Panel and Panel4D objects that natively handle three-dimensional and four-dimensional data (see Aside: Panel Data), 

* But a far more common pattern in practice is to make use of hierarchical indexing (also known as multi-indexing) to incorporate multiple index levels within a single index. In this way, higher-dimensional data can be compactly represented within the familiar one-dimensional Series and two-dimensional DataFrame objects.

### Pandas MultiIndex
#### The bad way
Tuple based indexing

In [188]:
# Provice multiple indexes as itemset (tuple) instead of a single value
index = [('California', 2000), ('California', 2010),
         ('New York', 2000), ('New York', 2010),
         ('Texas', 2000), ('Texas', 2010)]
populations = [33871648, 37253956,
               18976457, 19378102,
               20851820, 25145561]
pop = pd.Series(populations, index=index)
print(pop,'\n')
print(pop[('California', 2010):('Texas', 2000)],'\n')

# But the convenience ends here. For example, if you need to select all values from 2010, 
# you'll need to do some messy (and potentially slow) munging to make it happen

# To select all the rows with year 2010
print(pop[[i for i in pop.index if i[1] == 2010]])

(California, 2000)    33871648
(California, 2010)    37253956
(New York, 2000)      18976457
(New York, 2010)      19378102
(Texas, 2000)         20851820
(Texas, 2010)         25145561
dtype: int64

(California, 2010)    37253956
(New York, 2000)      18976457
(New York, 2010)      19378102
(Texas, 2000)         20851820
dtype: int64

(California, 2010)    37253956
(New York, 2010)      19378102
(Texas, 2010)         25145561
dtype: int64

#### The Good way

Fortunately, Pandas provides a better way. Our tuple-based indexing is essentially a rudimentary multi-index, and the Pandas MultiIndex type gives us the type of operations we wish to have.

Each extra level in a multi-index represents an extra dimension of data; taking advantage of this property gives us much more flexibility in the types of data we can represent.

We can create a multi-index from the tuples as follows:

In [202]:
# We can covernt tuple based indexing to multilevel indexing.

index = pd.MultiIndex.from_tuples(index)
print(index,'\n')

# reindex the data 
pop = pop.reindex(index)

print(pop)

# Now to access all data for which the second index is 2010
print(pop[:,2010])

# Change the second index to columns
print(pop.unstack())

MultiIndex(levels=[['California', 'New York', 'Texas'], [2000, 2010]],
           labels=[[0, 0, 1, 1, 2, 2], [0, 1, 0, 1, 0, 1]])

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64
California    37253956
New York      19378102
Texas         25145561
dtype: int64
                2000      2010
California  33871648  37253956
New York    18976457  19378102
Texas       20851820  25145561

### Methods of creating Multi-level Index

In [205]:
#1. List of lists as index Or Numpy Matrix

df = pd.DataFrame(np.random.rand(4, 2),
                  index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
                  columns=['data1', 'data2'])
print(df,'\n')

#2. Dictionary as dataset and tuples as keys (indices)
data = {('California', 2000): 33871648,
        ('California', 2010): 37253956,
        ('Texas', 2000): 20851820,
        ('Texas', 2010): 25145561,
        ('New York', 2000): 18976457,
        ('New York', 2010): 19378102}
print(pd.Series(data),'\n')

        data1     data2
a 1  0.734921  0.662366
  2  0.955336  0.567087
b 1  0.004076  0.317176
  2  0.758923  0.759330

California  2000    33871648
            2010    37253956
Texas       2000    20851820
            2010    25145561
New York    2000    18976457
            2010    19378102
dtype: int64

#### Explicit Multi-Index Creation
You can use the class method constructors available in the pd.MultiIndex. 

Any of these objects can be passed as the index argument when creating a Series or Dataframe, or be passed to the reindex method of an existing Series or DataFrame.

For example, as we did before, you can construct the MultiIndex from a simple list of arrays giving the index values within each level:

In [210]:
# By Passing Array of Arrays
print(pd.MultiIndex.from_arrays([['a', 'a', 'b', 'b'], [1, 2, 1, 2]]), '\n')

# But Passing Tupels
print(pd.MultiIndex.from_tuples([('a', 1), ('a', 2), ('b', 1), ('b', 2)]), '\n')

# Just pass the distinct values of different level indexes as array of array, and it will create all the combinations
print(pd.MultiIndex.from_product([['a', 'b'], [1, 2]]), '\n')

# Pass its encoding itself as levels and lables arguments.
print(pd.MultiIndex(levels=[['a', 'b'], [1, 2]],
              labels=[[0, 0, 1, 1], [0, 1, 0, 1]]),'\n')

MultiIndex(levels=[['a', 'b'], [1, 2]],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

MultiIndex(levels=[['a', 'b'], [1, 2]],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

MultiIndex(levels=[['a', 'b'], [1, 2]],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

MultiIndex(levels=[['a', 'b'], [1, 2]],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

#### MultiIndex level names

Sometimes it is convenient to name the levels of the MultiIndex. 
* pass the names argument to any of the above MultiIndex constructors,
* or by setting the names attribute of the index after the fact:

In [211]:
pop.index.names = ['state', 'year']
pop

state       year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

## Multi-Index for Columns

In [280]:
index = pd.MultiIndex.from_product([['A','B'],['Bio','Maths']], names = ['Batch','Subject'])
columns = pd.MultiIndex.from_product([[2010,2011],['Term1','Term2']], names = ['Year','Term'])


data = pd.DataFrame((np.round(np.random.randn(4,4),1)+5)*12, index=index, columns = columns)
data

Year           2010        2011
Term          Term1 Term2 Term1 Term2
Batch Subject
A     Bio      67.2  58.8  64.8  64.8
      Maths    68.4  50.4  37.2  72.0
B     Bio      51.6  55.2  51.6  43.2
      Maths    37.2  55.2  70.8  48.0

### Data Selection for Multilevel Index Dataframe

In [281]:
# Select all columns for first index 2010
print(data[2010],'\n')

# Select the column for 2010, Term1
data[2010, 'Term1']   # Provide the indexes seprated by comma in the order
print()

#data[:, 'Term1']   # Partial index on second level is not possible

# using iloc
print(data.iloc[:2, :2],'\n')

# Using loc and index slice
# Select all columns for second index Term1
idx = pd.IndexSlice
print(idx['A',:],'\n')
print(data.loc[idx['A',:],
               idx[:,'Term1']],'\n')


print(data.loc[:,
               idx[:,'Term1']],'\n')

Term           Term1  Term2
Batch Subject
A     Bio       67.2   58.8
      Maths     68.4   50.4
B     Bio       51.6   55.2
      Maths     37.2   55.2


Year           2010
Term          Term1 Term2
Batch Subject
A     Bio      67.2  58.8
      Maths    68.4  50.4

('A', slice(None, None, None))

Year           2010  2011
Term          Term1 Term1
Batch Subject
A     Bio      67.2  64.8
      Maths    68.4  37.2

Year           2010  2011
Term          Term1 Term1
Batch Subject
A     Bio      67.2  64.8
      Maths    68.4  37.2
B     Bio      51.6  51.6
      Maths    37.2  70.8

### Rearrange Multi-Indices
#### Sorted and Unsorted Indices

Many of the MultiIndex slicing operations will fail if the index is not sorted. Let's take a look at this here.

We'll start by creating some simple multiply indexed data where the indices are not lexographically sorted:

In [303]:

index = pd.MultiIndex.from_product([['a', 'c', 'b'], [1, 2]])
data1 = pd.Series(np.random.rand(6), index=index)
data1.index.names = ['char', 'int']
print(data1,'\n')

# Slicing fails becuase the indexes are not sorted
try:
    data1['a':'b']
except KeyError as e:
    print(type(e))
    print(e)
    
    
data1.sort_index(inplace=True)

print(data1)
print(data1['a':'b'])

char  int
a     1      0.674836
      2      0.199036
c     1      0.259521
      2      0.595678
b     1      0.751021
      2      0.658135
dtype: float64

<class 'pandas.errors.UnsortedIndexError'>
'Key length (1) was greater than MultiIndex lexsort depth (0)'
char  int
a     1      0.674836
      2      0.199036
b     1      0.751021
      2      0.658135
c     1      0.259521
      2      0.595678
dtype: float64
char  int
a     1      0.674836
      2      0.199036
b     1      0.751021
      2      0.658135
dtype: float64

In [296]:
### Stacking and Unstacking Indices
print(data,'\n')

# Unstack mean dcast the data, means widened the data, means convert the indices to columns
print(data.unstack(),'\n')        # by default it starts unstack from the lower indices
print(data.unstack(level=0),'\n') # we can also provide a level

# Stack means melt the data, convert the columns to indices
print(data.stack(),'\n')

print(data.unstack().unstack(),'\n') # We have unstacked the data, since it should become a single row which is a
                                     # series, thats why we see it as the column series
                       
print(data.stack().stack(),'\n') # We have unstacked the data, since it should become a single row which is a
                                     # series, thats why we see it as the column series

Year           2010        2011
Term          Term1 Term2 Term1 Term2
Batch Subject
A     Bio      67.2  58.8  64.8  64.8
      Maths    68.4  50.4  37.2  72.0
B     Bio      51.6  55.2  51.6  43.2
      Maths    37.2  55.2  70.8  48.0

Year     2010                    2011
Term    Term1       Term2       Term1       Term2
Subject   Bio Maths   Bio Maths   Bio Maths   Bio Maths
Batch
A        67.2  68.4  58.8  50.4  64.8  37.2  64.8  72.0
B        51.6  37.2  55.2  55.2  51.6  70.8  43.2  48.0

Year     2010                    2011
Term    Term1       Term2       Term1       Term2
Batch       A     B     A     B     A     B     A     B
Subject
Bio      67.2  51.6  58.8  55.2  64.8  51.6  64.8  43.2
Maths    68.4  37.2  50.4  55.2  37.2  70.8  72.0  48.0

Year                 2010  2011
Batch Subject Term
A     Bio     Term1  67.2  64.8
              Term2  58.8  64.8
      Maths   Term1  68.4  37.2
              Term2  50.4  72.0
B     Bio     Term1  51.6  51.6
              Term2  55.2  43.2
      Maths   Term1  37.2  70.8
              Term2  55.2  48.0

Year  Term   Subject  Batch
2010  Term1  Bio      A        67.2
                      B        51.6
             Maths    A        68.4
                      B        37.2
      Term2  Bio      A        58.8
                      B        55.2
             Maths    A        50.4
                      B        55.2
2011  Term1  Bio      A        64.8
                      B        51.6
             Maths    A        37.2
                      B        70.8
      Term2  Bio      A        64.8
                      B        43.2
             Maths    A        72.0
                      B        48.0
dtype: float64

Batch  Subject  Term   Year
A      Bio      Term1  2010    67.2
                       2011    64.8
                Term2  2010    58.8
                       2011    64.8
       Maths    Term1  2010    68.4
                       2011    37.2
                Term2  2010    50.4
                       2011    72.0
B      Bio      Term1  2010    51.6
                       2011    51.6
                Term2  2010    55.2
                       2011    43.2
       Maths    Term1  2010    37.2
                       2011    70.8
                Term2  2010    55.2
                       2011    48.0
dtype: float64

### Index setting and resetting

* **reset_index**
Another way to rearrange hierarchical data is to turn the index labels into columns; this can be accomplished with the reset_index method. 

* **set_index**
Often when working with data in the real world, the raw input data looks like this and it's useful to build a MultiIndex from the column values. This can be done with the set_index method of the DataFrame, which returns a multiply indexed DataFrame:

In [301]:
print(pop)

pop_flat = pop.reset_index(name='population') # converted the state and year indices to columns
print(pop_flat)

pop_flat.set_index(['state','year'])

state       year
California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64
        state  year  population
0  California  2000    33871648
1  California  2010    37253956
2    New York  2000    18976457
3    New York  2010    19378102
4       Texas  2000    20851820
5       Texas  2010    25145561

                 population
state      year
California 2000    33871648
           2010    37253956
New York   2000    18976457
           2010    19378102
Texas      2000    20851820
           2010    25145561

### Aggregation on muti-indices

* axis=1 or2
* level = index or column names

does the whole job

In [314]:
print(data,'\n')

print(data.mean(),'\n') # By defalult for columns across rows

print(data.mean(axis='columns'),'\n') # for rows and across columns

print(data.mean(axis ='columns',level='Term'),'\n') # for rows and across columns

Year           2010        2011
Term          Term1 Term2 Term1 Term2
Batch Subject
A     Bio      67.2  58.8  64.8  64.8
      Maths    68.4  50.4  37.2  72.0
B     Bio      51.6  55.2  51.6  43.2
      Maths    37.2  55.2  70.8  48.0

Year  Term
2010  Term1    56.1
      Term2    54.9
2011  Term1    56.1
      Term2    57.0
dtype: float64

Batch  Subject
A      Bio        63.9
       Maths      57.0
B      Bio        50.4
       Maths      52.8
dtype: float64

Term           Term1  Term2
Batch Subject
A     Bio       66.0   61.8
      Maths     52.8   61.2
B     Bio       51.6   49.2
      Maths     54.0   51.6

## Combining datasets : Concat and Append

In [5]:
def make_df(cols, ind):
    dicti = {c: [ str(c) + str(i) for i in ind]
            for c in cols}
    df = pd.DataFrame(dicti, index=ind)
    return(df)

In [6]:
df = make_df('abc', range(3))

    a   b   c
0  a0  b0  c0
1  a1  b1  c1
2  a2  b2  c2

In [28]:
# Recall numpy concatenate function
x = np.array([1,2,3])
print(np.concatenate([x,x]))
#print(np.concatenate([x,x], axis=1)) Doesnot work
print('')
# Similar to np.concatenate, pandas has concat

# Series
ser1 = pd.Series(['A', 'B', 'C'], index=[1, 2, 3])
ser2 = pd.Series(['D', 'E', 'F'], index=[4, 5, 6])
print(pd.concat([ser1, ser2]))

# Dataframe
df1 = make_df('AB', [1, 2])
print(pd.concat([df1, df1]),'\n')           # By default concatenation takes place rows-wise.
print(pd.concat([df1, df1],axis=1),'\n')    # Always can provide axis=1 for column-wise concatenation

# As you have seen above, indices in the result dataframe are taken from the original DFs
# so there can be overlap or repeting indices.
# to handle the repeting indices

## raise an exception, if repeting indices or columns
# print(pd.concat([df1, df1], verify_integrity = True),'\n')    
# print(pd.concat([df1, df1], axis = 1, verify_integrity = True),'\n')   

## Ignore the indices from the original DFs
print(pd.concat([df1, df1], ignore_index = True),'\n')           # indices are reset
print(pd.concat([df1, df1], axis = 1, ignore_index = True),'\n') # columns are reset to simple number indexing

## Add second level key over repeting indexes
print(pd.concat([df1, df1], keys = ['df1','df2']),'\n')           # indices are reset
print(pd.concat([df1, df1], axis = 1, keys = ['df1','df2']),'\n') # columns are reset to simple number indexing

[1 2 3 1 2 3]

1    A
2    B
3    C
4    D
5    E
6    F
dtype: object
    A   B
1  A1  B1
2  A2  B2
1  A1  B1
2  A2  B2

    A   B   A   B
1  A1  B1  A1  B1
2  A2  B2  A2  B2

    A   B
0  A1  B1
1  A2  B2
2  A1  B1
3  A2  B2

    0   1   2   3
1  A1  B1  A1  B1
2  A2  B2  A2  B2

        A   B
df1 1  A1  B1
    2  A2  B2
df2 1  A1  B1
    2  A2  B2

  df1     df2
    A   B   A   B
1  A1  B1  A1  B1
2  A2  B2  A2  B2

### Concatenation with Joins
Above we just looked at, we were mainly concatenating DataFrames with same column names. 
Consider the concatenation of the following two DataFrames, which have some (but not all!) columns in common.

By default, the entries for which no data is available are filled with NA values. Parameters join and join_axes has multiple values which lets us select columns based on NULL values

By default, the join is a union of the input columns (join='outer'), but we can change this to an intersection of the columns using join='inner':

In [39]:
df5 = make_df('ABC', [1, 2])
df6 = make_df('BCD', [3, 4])

# When to select all the columns of input DFs
print(pd.concat([df5, df6])) # Result DF's columns are union of input DF's columns

# When to select only shared columns of input DFs
print(pd.concat([df5, df6], join='inner'))  # Selects only those columns which are shared by the input DFs

# When to select one dataframes all column and shared columns of another DFs, more like left and right join.
print(pd.concat([df5, df6], join_axes = [df6.columns]))  # Selects only those columns which are shared by the input DFs

# The append method, does the same job as concat but fewer parameters available
# But its better to use concat instead of append for runtime efficiency
print('append:')
print(df5.append(df6))

     A   B   C    D
1   A1  B1  C1  NaN
2   A2  B2  C2  NaN
3  NaN  B3  C3   D3
4  NaN  B4  C4   D4
    B   C
1  B1  C1
2  B2  C2
3  B3  C3
4  B4  C4
    B   C    D
1  B1  C1  NaN
2  B2  C2  NaN
3  B3  C3   D3
4  B4  C4   D4
append:
     A   B   C    D
1   A1  B1  C1  NaN
2   A2  B2  C2  NaN
3  NaN  B3  C3   D3
4  NaN  B4  C4   D4

/home/vivek/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """
/home/vivek/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

## Combining Datasets: Merge and Join

Keep in mind that the merge in general discards the index, except in the special case of merges by index (see the left_index and right_index keywords, discussed momentarily).

In [67]:
df1 = pd.DataFrame({'employee': ['Bob', 'Jake', 'Lisa', 'Sue'],
                    'group': ['Accounting', 'Engineering', 'Engineering', 'HR']})
df2 = pd.DataFrame({'employee': ['Lisa', 'Bob', 'Jake', 'Sue'],
                    'hire_date': [2004, 2008, 2012, 2014]})
df3 = pd.DataFrame({'group': ['Accounting', 'Accounting',
                              'Engineering', 'Engineering', 'HR', 'HR'],
                    'skills': ['math', 'spreadsheets', 'coding', 'linux',
                               'spreadsheets', 'organization']})
df4 = pd.DataFrame({'name': ['Bob', 'Jake', 'Lisa', 'Sue'],
                    'salary': [70000, 80000, 120000, 90000]})
print(df1,'\n')
print(df2,'\n')
#print(df3,'\n')

print(pd.merge(df1,df2),'\n') # Merges on common columns for input DFs
print(pd.merge(df1,df3),'\n') # Merges on common columns for input DFs

  employee        group
0      Bob   Accounting
1     Jake  Engineering
2     Lisa  Engineering
3      Sue           HR

  employee  hire_date
0     Lisa       2004
1      Bob       2008
2     Jake       2012
3      Sue       2014

  employee        group  hire_date
0      Bob   Accounting       2008
1     Jake  Engineering       2012
2     Lisa  Engineering       2004
3      Sue           HR       2014

  employee        group        skills
0      Bob   Accounting          math
1      Bob   Accounting  spreadsheets
2     Jake  Engineering        coding
3     Jake  Engineering         linux
4     Lisa  Engineering        coding
5     Lisa  Engineering         linux
6      Sue           HR  spreadsheets
7      Sue           HR  organization

### Specification of the merge key

In [59]:
#--------------- 'on' keyword ---------------
## Specify the column to merge on, instead of default all shared columns
print(pd.merge(df1,df2, on='employee'),'\n') 

#--------------- 'left_on' and 'right_on' keyword ---------------
## Specify the column to merge but that columns has differnt names in the input DFs
print(pd.merge(df1,df4, left_on='employee', right_on='name'),'\n') # Both employee and name columns will retain

#--------------- drop the columnd using df.drop(axis=1) method ---------------
## to remove the redundant or unwanted columns
print(pd.merge(df1,df4, left_on='employee', right_on='name').drop(['name','group'],axis=1), '\n') 

df1a = df1.set_index('employee') # move employe column to indices
df2a = df2.set_index('employee')
print(df1a,'\n')

#--------------- 'left_index' and 'right_index' keywords---------------------------------
## merge on indexes rather on columns
print(pd.merge(df1a,df2a, left_index=True, right_index=True), '\n') 

# we can merge two dataframe on indexes without explicitely mentioning indexes parameters as above
print('Join, defaults on indexes')
print(df1a.join(df2a), '\n')

  employee        group  hire_date
0      Bob   Accounting       2008
1     Jake  Engineering       2012
2     Lisa  Engineering       2004
3      Sue           HR       2014

  employee        group  name  salary
0      Bob   Accounting   Bob   70000
1     Jake  Engineering  Jake   80000
2     Lisa  Engineering  Lisa  120000
3      Sue           HR   Sue   90000

  employee  salary
0      Bob   70000
1     Jake   80000
2     Lisa  120000
3      Sue   90000

                group
employee
Bob        Accounting
Jake      Engineering
Lisa      Engineering
Sue                HR

                group  hire_date
employee
Bob        Accounting       2008
Jake      Engineering       2012
Lisa      Engineering       2004
Sue                HR       2014

Join, defaults on indexes
                group  hire_date
employee
Bob        Accounting       2008
Jake      Engineering       2012
Lisa      Engineering       2004
Sue                HR       2014

In [71]:
#--------------- 'on' keyword ---------------
# Dropping some keys from both the data set to explain inner and outer joins
df1b = df1.drop(1,axis=0)
df2b = df2.drop(3,axis=0)

## Get the inner join, give only rows for commone keys
print(pd.merge(df1b,df2b, on='employee'),'\n') # default merge is inner

## Get the outer join,
print(pd.merge(df1b,df2b, on='employee', how='outer'),'\n') 

## Get the outer join,
print(pd.merge(df1b,df2b, on='employee', how='left'),'\n') 

## Get the outer join,
print(pd.merge(df1b,df2b, on='employee', how='right'),'\n')

  employee        group  hire_date
0      Bob   Accounting       2008
1     Lisa  Engineering       2004

  employee        group  hire_date
0      Bob   Accounting     2008.0
1     Lisa  Engineering     2004.0
2      Sue           HR        NaN
3     Jake          NaN     2012.0

  employee        group  hire_date
0      Bob   Accounting     2008.0
1     Lisa  Engineering     2004.0
2      Sue           HR        NaN

  employee        group  hire_date
0      Bob   Accounting       2008
1     Lisa  Engineering       2004
2     Jake          NaN       2012

###  Common column names in the dataframes

if the column names are common in dataframes to join, the merge function automatically appends a suffix _x or _y to make the output columns unique. If these defaults are inappropriate, it is possible to specify a custom suffix using the suffixes keyword:

In [73]:
## defaul suffixes for common column names
print(pd.merge(df1b,df1b, on='employee'),'\n') # default merge is inner

## Give the required suffixes using parameter suffixes
print(pd.merge(df1b,df1b, on='employee', suffixes=['_left','_right']),'\n') # default merge is inner

  employee      group_x      group_y
0      Bob   Accounting   Accounting
1     Lisa  Engineering  Engineering
2      Sue           HR           HR

  employee   group_left  group_right
0      Bob   Accounting   Accounting
1     Lisa  Engineering  Engineering
2      Sue           HR           HR

## -------------------------- Aggregation And Grouping-------------------------------------------------------


The following table summarizes some other built-in Pandas aggregations:

Aggregation	Description
* count(),     	Total number of items
* first(), last()	First and last item
* mean(), median()	Mean and median
* min(), max()	Minimum and maximum
* std(), var()	Standard deviation and variance
* mad()	Mean absolute deviation
* prod()	Product of all items
* sum()	Sum of all items

These are all methods of DataFrame and Series objects.

In [2]:
# Import planets data from seaborn
import seaborn as sns
planets = sns.load_dataset('planets')
planets.shape
planets.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [3]:
#there is a convenience method describe() that computes several common aggregates for each column and returns 
# the result.

# It drops the missings for an column individually.
print(planets.describe(),'\n')

# dropna() drops all the rows which have any value missing
print(planets.dropna().describe())

            number  orbital_period        mass     distance         year
count  1035.000000      992.000000  513.000000   808.000000  1035.000000
mean      1.785507     2002.917596    2.638161   264.069282  2009.070531
std       1.240976    26014.728304    3.818617   733.116493     3.972567
min       1.000000        0.090706    0.003600     1.350000  1989.000000
25%       1.000000        5.442540    0.229000    32.560000  2007.000000
50%       1.000000       39.979500    1.260000    55.250000  2010.000000
75%       2.000000      526.005000    3.040000   178.500000  2012.000000
max       7.000000   730000.000000   25.000000  8500.000000  2014.000000

          number  orbital_period        mass    distance         year
count  498.00000      498.000000  498.000000  498.000000   498.000000
mean     1.73494      835.778671    2.509320   52.068213  2007.377510
std      1.17572     1469.128259    3.636274   46.596041     4.167284
min      1.00000        1.328300    0.003600    1.350000  1989.000000
25%      1.00000       38.272250    0.212500   24.497500  2005.000000
50%      1.00000      357.000000    1.245000   39.940000  2009.000000
75%      2.00000      999.600000    2.867500   59.332500  2011.000000
max      6.00000    17337.500000   25.000000  354.000000  2014.000000

### GroupBy: Split, Apply, Combine
Simple aggregations can give you a flavor of your dataset, but often we would prefer to aggregate conditionally on some label or index: this is implemented in the so-called groupby operation.

In [7]:
df = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'data': range(6)}, columns=['key', 'data'])
print(df,'\n')

# Notice that what is returned is not a set of DataFrames, but a DataFrameGroupBy object. This object is where the 
# magic is: you can think of it as a special view of the DataFrame, which is poised to dig into the groups but 
# does no actual computation until the aggregation is applied. This "lazy evaluation" approach means that 
# common aggregates can be implemented very efficiently in a way that is almost transparent to the user.
print(df.groupby('key'),'\n')

# To produce a result, we can apply an aggregate to this DataFrameGroupBy object
print(df.groupby('key').sum(),'\n')

  key  data
0   A     0
1   B     1
2   C     2
3   A     3
4   B     4
5   C     5

<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x7fd729a53e90>

     data
key
A       3
B       5
C       7

### The GroupBy Object

The GroupBy object is a very flexible abstraction. In many ways, you can simply treat it as if it's a collection of DataFrames, and it does the difficult things under the hood. Let's see some examples using the Planets data.

Perhaps the most important operations made available by a GroupBy are aggregate, filter, transform, and apply.

In [8]:
print(planets.method.unique(),'\n')

# create a DataFrameGroupBy Object for "planets" data conditioned on "method" column
print(planets.groupby('method'),'\n')

# Let's select a particular Series group from the original DataFrame group by reference to its column name. 
# As with the GroupBy object, no computation is done until we call some aggregate on the object.
print( planets.groupby('method')['orbital_period'],'\n\n')

# Now perform sum on the selected group above
print('Summing the orbital_period conditioned on method column')
print( planets.groupby('method')['orbital_period'].sum())

['Radial Velocity' 'Imaging' 'Eclipse Timing Variations' 'Transit'
 'Astrometry' 'Transit Timing Variations' 'Orbital Brightness Modulation'
 'Microlensing' 'Pulsar Timing' 'Pulsation Timing Variations']

<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x7fd729a53d50>

<pandas.core.groupby.groupby.SeriesGroupBy object at 0x7fd72acb3890>


Summing the orbital_period conditioned on method column
method
Astrometry                       1.262360e+03
Eclipse Timing Variations        4.276480e+04
Imaging                          1.418973e+06
Microlensing                     2.207500e+04
Orbital Brightness Modulation    2.127920e+00
Pulsar Timing                    3.671511e+04
Pulsation Timing Variations      1.170000e+03
Radial Velocity                  4.553151e+05
Transit                          8.377523e+03
Transit Timing Variations        2.393505e+02
Name: orbital_period, dtype: float64

#### Iteration over groups
The GroupBy object supports direct iteration over the groups, returning each group as a Series or DataFrame:

In [13]:
for (method,group) in planets.groupby('method'):
    print("{0:40s} shape{1}".format(method,group.shape))

Astrometry                               shape(2, 6)
Eclipse Timing Variations                shape(9, 6)
Imaging                                  shape(38, 6)
Microlensing                             shape(23, 6)
Orbital Brightness Modulation            shape(3, 6)
Pulsar Timing                            shape(5, 6)
Pulsation Timing Variations              shape(1, 6)
Radial Velocity                          shape(553, 6)
Transit                                  shape(397, 6)
Transit Timing Variations                shape(4, 6)

In [21]:
# Dispatch Methods
planets.groupby('method')['distance'].describe()

,count,mean,std,min,25%,50%,75%,max
method,,,,,,,,
Astrometry,2.0,17.875000,4.094148,14.98,16.4275,17.875,19.3225,20.77
Eclipse Timing Variations,4.0,315.360000,213.203907,130.72,130.7200,315.360,500.0000,500.00
Imaging,32.0,67.715937,53.736817,7.69,22.1450,40.395,132.6975,165.00
Microlensing,10.0,4144.000000,2076.611556,1760.00,2627.5000,3840.000,4747.5000,7720.00
Orbital Brightness Modulation,2.0,1180.000000,0.000000,1180.00,1180.0000,1180.000,1180.0000,1180.00
Pulsar Timing,1.0,1200.000000,NaN,1200.00,1200.0000,1200.000,1200.0000,1200.00
Pulsation Timing Variations,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Radial Velocity,530.0,51.600208,45.559381,1.35,24.4125,40.445,59.2175,354.00
Transit,224.0,599.298080,913.876990,38.00,200.0000,341.000,650.0000,8500.00
Transit Timing Variations,3.0,1104.333333,915.819487,339.00,597.0000,855.000,1487.0000,2119.00

### Groupby : Aggregation, Filter, Transform, Apply

In [62]:
rng = np.random.RandomState(0)
df = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'data1': range(6),
                   'data2': rng.randint(0, 10, 6)},
                   columns = ['key', 'data1', 'data2'])
df

  key  data1  data2
0   A      0      5
1   B      1      0
2   C      2      3
3   A      3      3
4   B      4      7
5   C      5      9

In [36]:
# Aggregation

## aggregate() method allows for even more flexibility. It can take a string, a function, or a list thereof, 
## and compute all the aggregates at once.
print(df.groupby('key').aggregate(['min',np.median,max]))
print()

## Another useful pattern is to pass a dictionary mapping of column namse to operations to be applied on that columns
print(df.groupby('key').aggregate({'data1': np.sum, 'data2': 'count'}))

    data1            data2
      min median max   min median max
key
A       0    1.5   3     3    4.0   5
B       1    2.5   4     0    3.5   7
C       2    3.5   5     3    6.0   9

     data1  data2
key
A        3      2
B        5      2
C        7      2

In [43]:
{df['data2'].std()>4}

{False}

In [46]:
# Filter
## A filtering operation allows you to drop data based on the group properties. 
## For example, we might want to keep all groups in which the standard deviation is larger than some critical value:

# This can be done by passing a function to the filter method, which defined the criteria to filter
# Note that, The filter function should return a Boolean value specifying whether the group passes the filtering
df.groupby('key').filter(lambda x : x['data2'].std() > 4 )

#OR

def pass_criteria(x):
    return x['data2'].std() > 4

df.groupby('key').filter(pass_criteria)

  key  data1  data2
1   B      1      0
2   C      2      3
4   B      4      7
5   C      5      9

In [48]:
# Transformation

# While aggregation must return a reduced version of the data, transformation can return some transformed version 
# of the full data to recombine. For such a transformation, the output is the same shape as the input.
# A common example is to center the data by subtracting the group-wise mean:

#***** It returns all the columns passed to the transform function after applying the required operation******

# we have pass a function to transform to do the required operations
df.groupby('key').transform( lambda x: x- x.mean())

   data1  data2
0   -1.5    1.0
1   -1.5   -3.5
2   -1.5   -3.0
3    1.5   -1.0
4    1.5    3.5
5    1.5    3.0

In [51]:
# Apply

# The apply() method lets you apply an arbitrary function to the group results. The function should take a DataFrame,
# and return either a Pandas object (e.g., DataFrame, Series) or a scalar; the combine operation will be tailored to 
# the type of output returned.

# unlike Transformation where it takes a series where operations are applied on that particular series
# apply takes the whole group results (dataframegroupby) and we can use multiple columns for a single operations

#***** It returns the whole dataframe passed to groupby, instead of only columns ***********

# For example, here is an apply() that creates a column with sum of first and second column:
def fun(dfg):
    dfg['data3'] = dfg['data1'] + dfg['data2'] 
    return(dfg)
df.groupby('key').apply(fun)

  key  data1  data2  data3
0   A      0      5      5
1   B      1      0      1
2   C      2      3      5
3   A      3      3      6
4   B      4      7     11
5   C      5      9     14

### Specifying the split key

In [93]:
# By Specifying any columnname
df.groupby('key').mean()

# By columnt itself
df.groupby(df['key']).mean()

# By list of column names or columns
df.groupby(['key']).mean()

# By an external list
l = ['a','b','c','a','b','c']
df.groupby(l).mean()

# By index, or any external series
df2 = df.set_index('key')  # set the key column as index for the dataframe
df.groupby(df2.index).mean()

# By a dictionary : the dictionary maps indices of dataframe to groups
mappings = {'A':'vowels','B':'consonants','C':'consonants'}
mappings = dict(zip( ['A','B','C'],
                     ['vowels','consonants','consonants']
                   )
               )
df2.groupby(mappings).mean()

# By any python function which needs to apply on indexes

# on textual indices we have use string's lower case method
df2.groupby(str.lower).sum()    

# for all the indices we recatogrized them into two keys
def re_categorize(x):
    if x=='A':
        return x
    else:
        return 'not A'
    
df2.groupby(re_categorize).sum()    

# on integer indices we just did a sum of alternate rows 
df.groupby(lambda x: x%2 == 0).sum()

       data1  data2
A          3      8
not A     12     19

### GroupBy : Examples

In [98]:
planets[:5]

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [119]:
# Count discovered planets by method and by decade
decades = 10* (planets['year']//10)
decades = decades.astype('str') + 's'
decades.name = 'decades'
planets.groupby([decades,'method'])['number'].sum().unstack('decades').fillna(0)

decades                        1980s  1990s  2000s  2010s
method
Astrometry                       0.0    0.0    0.0    2.0
Eclipse Timing Variations        0.0    0.0    5.0   10.0
Imaging                          0.0    0.0   29.0   21.0
Microlensing                     0.0    0.0   12.0   15.0
Orbital Brightness Modulation    0.0    0.0    0.0    5.0
Pulsar Timing                    0.0    9.0    1.0    1.0
Pulsation Timing Variations      0.0    0.0    1.0    0.0
Radial Velocity                  1.0   52.0  475.0  424.0
Transit                          0.0    0.0   64.0  712.0
Transit Timing Variations        0.0    0.0    0.0    9.0

## Pivot Tables

We have seen how the GroupBy abstraction lets us explore relationships within a dataset. A pivot table is a similar operation that is commonly seen in spreadsheets and other programs that operate on tabular data. The pivot table takes simple column-wise data as input, and groups the entries into a two-dimensional table that provides a multidimensional summarization of the data.

pivot tables as essentially a multidimensional version of GroupBy aggregation

In [121]:
titanic = sns.load_dataset('titanic')
titanic[1:5]

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [149]:
# Pivot table using groupby
#survival_c_gender = titanic.groupby('sex').aggregate({'survived':[np.sum,'count']})
#survival_c_gender['survived','%'] = '%' + np.round(100* (survival_c_gender['survived','sum']/survival_c_gender['survived','count'])).astype('str')
titanic.groupby('sex')[['survived']].mean().round(2)

# lets explore a bit more looking at survival conditioned on sex and class both
titanic.groupby(['sex','class'])['survived'].mean().round(2).unstack()

class   First  Second  Third
sex
female   0.97    0.92   0.50
male     0.37    0.16   0.14

In [156]:
# we can create the above table using more readable code using pivot_table method
titanic.pivot_table('survived', index='sex', columns='class').round(2)

class   First  Second  Third
sex
female   0.97    0.92   0.50
male     0.37    0.16   0.14

In [164]:
# multiple level table
age_bin = pd.cut(titanic['age'],[0,18,80])
titanic.pivot_table('survived', index=['sex',age_bin], columns='class', aggfunc=['sum','mean'])

                  sum                   mean
class           First Second Third     First    Second     Third
sex    age
female (0, 18]     10     14    22  0.909091  1.000000  0.511628
       (18, 80]    72     54    25  0.972973  0.900000  0.423729
male   (0, 18]      4      9    11  0.800000  0.600000  0.215686
       (18, 80]    36      6    27  0.375000  0.071429  0.133663

In [171]:
# can sepcify multiple columns and operations on them
titanic.pivot_table('survived', index='sex', columns='class',margins=True).round(2)

class   First  Second  Third   All
sex
female   0.97    0.92   0.50  0.74
male     0.37    0.16   0.14  0.19
All      0.63    0.47   0.24  0.38

## Vectorizing string Operation


This vectorization of operations simplifies the syntax of operating on arrays of data: we no longer have to worry about the size or shape of the array, but just about what operation we want done. 

For arrays of strings, NumPy does not provide such simple access, but Pandas includes features to address both this need for vectorized string operations and for correctly handling missing data via the str attribute.

Methods similar to Python string methods
Nearly all Python's built-in string methods are mirrored by a Pandas vectorized string method. Here is a list of Pandas str methods that mirror Python string methods:

len()	  lower()	translate()	islower()

ljust()	  upper()	startswith()	isupper()

rjust()	find()	endswith()	isnumeric()

center()	rfind()	isalnum()	isdecimal()

zfill()	index()	isalpha()	split()

strip()	rindex()	isdigit()	rsplit()

rstrip()	capitalize()	isspace()	partition()

lstrip()	swapcase()	istitle()	rpartition()

In [16]:
str_array = ['vivek','singh','solanki88']
print([s.capitalize() for s in str_array],'\n')       # Arrays doesnot support string vectorization

str_array = ['vivek','singh',None, 'solanki88']
#[s.capitalize() for s in str_array]       # Arrays doesnot support missing data handling for strings

str_series = pd.Series(str_array)
print(str_series,'\n')
print(str_series.str.capitalize())         # Pandas prvoides vectorized string operations as well handling of data

print(str_series.str.len())


print(str_series.str.split('i'))

['Vivek', 'Singh', 'Solanki88']

0        vivek
1        singh
2         None
3    solanki88
dtype: object

0        Vivek
1        Singh
2         None
3    Solanki88
dtype: object
0    5.0
1    5.0
2    NaN
3    9.0
dtype: float64
0        [v, vek]
1        [s, ngh]
2            None
3    [solank, 88]
dtype: object

### Vectorized string operations : Methods using regular expressions
In addition, there are several methods that accept regular expressions to examine the content of each string element, and follow some of the API conventions of Python's built-in re module:

Method	Description

match()	Call re.match() on each element, returning a boolean.

extract()	Call re.match() on each element, returning matched groups as strings.

findall()	Call re.findall() on each element

replace()	Replace occurrences of pattern with some other string

contains()	Call re.search() on each element, returning a boolean

count()	Count occurrences of pattern

split()	Equivalent to str.split(), but accepts regexps

rsplit()	Equivalent to str.rsplit(), but accepts regexps

In [23]:
print(str_series,'\n')
print(str_series.str.extract('([A-Za-z]+)', expand=False),'\n')
print(str_series.str.findall('^[^AEIOU].*[^aeiou]$'),'\n')

0        vivek
1        singh
2         None
3    solanki88
dtype: object

0      vivek
1      singh
2        NaN
3    solanki
dtype: object

0        [vivek]
1        [singh]
2           None
3    [solanki88]
dtype: object

### Vectorized string operations : Miscellaneous methods
Finally, there are some miscellaneous methods that enable other convenient operations:

Method	Description

get()	Index each element

slice()	Slice each element

slice_replace()	Replace slice in each element with passed value

cat()	Concatenate strings

repeat()	Repeat values

normalize()	Return Unicode form of string

pad()	Add whitespace to left, right, or both sides of strings

wrap()	Split long strings into lines with length less than a given width

join()	Join strings in each element of the Series with passed separator

get_dummies()	extract dummy variables as a dataframe

In [29]:
print(str_series.str.slice(0,2),'\n')
print(str_series.str[0:2],'\n')  # or equivalent for slicing

print(str_series.str.split('i').str.get(-1)) # get the last part after spitting

0      vi
1      si
2    None
3      so
dtype: object

0      vi
1      si
2    None
3      so
dtype: object

0     vek
1     ngh
2    None
3      88
dtype: object

In [36]:

## if you want to get dummy variables

full_monte = pd.DataFrame({'name': str_series,
                           'info': ['B|C|D', 'B|D','B|D',  'B|C|D']})
print(full_monte,'\n')

full_monte['info'].str.get_dummies('|')

        name   info
0      vivek  B|C|D
1      singh    B|D
2       None    B|D
3  solanki88  B|C|D

   B  C  D
0  1  1  1
1  1  0  1
2  1  0  1
3  1  1  1

## Pandas Datetime

In [43]:
# to_datetime function can convert many format of strings to date
date = pd.to_datetime('21st June, 2020')
print(date)
print(date.strftime('%A'))

# vectorized operations for datetime datetype
print(pd.to_timedelta(np.arange(5),'D'))     
print(date + pd.to_timedelta(np.arange(5),'D'))

2020-06-21 00:00:00
Sunday
TimedeltaIndex(['0 days', '1 days', '2 days', '3 days', '4 days'], dtype='timedelta64[ns]', freq=None)
DatetimeIndex(['2020-06-21', '2020-06-22', '2020-06-23', '2020-06-24',
               '2020-06-25'],
              dtype='datetime64[ns]', freq=None)

In [48]:
## Pandas Datetime as Index
indices = pd.DatetimeIndex(['2020-06-21', '2020-06-22', '2020-06-23', '2020-06-24','2015-06-25'])
arr = pd.Series([0,1,2,3,4], index = indices)
print(arr)
print(arr['2020-06-22': '2020-06-24'])
print()
print(arr['2015'])

2020-06-21    0
2020-06-22    1
2020-06-23    2
2020-06-24    3
2015-06-25    4
dtype: int64
2020-06-22    1
2020-06-23    2
2020-06-24    3
dtype: int64

2015-06-25    4
dtype: int64

In [57]:
dates = pd.to_datetime([ '4th of July, 2015','2015-Jul-6', '07-07-2015', '20150708'])
print(dates)

print(dates-dates[0])

offset = pd.Timedelta(2,'Y')
print(dates-offset)

DatetimeIndex(['2015-07-04', '2015-07-06', '2015-07-07', '2015-07-08'], dtype='datetime64[ns]', freq=None)
TimedeltaIndex(['0 days', '2 days', '3 days', '4 days'], dtype='timedelta64[ns]', freq=None)
DatetimeIndex(['2013-07-03 12:21:36', '2013-07-05 12:21:36',
               '2013-07-06 12:21:36', '2013-07-07 12:21:36'],
              dtype='datetime64[ns]', freq=None)

## eval function, for efficient operation

we have seen that vectorized operation are much faster than the loop version, but what about the memory use?

vectorized operations need the arrays in the memory while loop version doesnt need the whole array in the memory, so if the arrays are large enough to not fit or degrade the performance because of computational overhead of vectorized operations then loop version again become handy.

so, eval funcntion comes handy here, it takes the expressions as written in vectorized form, but evaluates it using loop version.

The Numexpr library gives you the ability to compute this type of compound expression element by element, without the need to allocate full intermediate arrays

In [60]:
import pandas as pd
nrows, ncols = 100000, 100
rng = np.random.RandomState(42)
df1, df2, df3, df4 = (pd.DataFrame(rng.rand(nrows, ncols))
                      for i in range(4))


%timeit df1 + df2 + df3 + df4

%timeit pd.eval('df1 + df2 + df3 + df4') # as we ca se this is taking a way lesser time than the vectorized
                                          # version above

129 ms ± 1.05 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)
70.5 ms ± 850 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)